body {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*position: relative;*/
}

a {
	text-decoration: none;
	color:	black;
}
  /* .topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
} */
.conteiner {
	width: 935px;
	height: 54px;
	background: green;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
  	top: 0;
}

.logo {
	display: flex;
	align-items: center;
	
}
.barrinha {
	height: 22px;
	width: 1px;
	background-color: black;
	margin-right: 15px;
	margin-left: 15px;
}
.lgo {
	height: 22px;
	width: 22px;
}

.busca {
	width: 213px;
	height: 26px;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}


.acess {
	height: 25px;
	width: 25px;
	margin-left: 15px;
}

.q {
	margin-right: 15px;
}
.q:hover {
	color: gray;
}

  
.borda {
	width: 100%;
	height: 1px;
	background: #dbdbdb;
	margin-bottom: 34px;
	margin-top: 54px;
	position: fixed;
	top: 0;
}

.mobile {
	display: none;
}

.insta {
	display: none;
}
  
.tam {
	height: 116px;
	border: 1px solid orange;
	margin-bottom: 24px;
}
  
.body {
	display: flex;
	justify-content: center;
	margin-top: 88px;
}
  
  .rolante {
	background: blue;	
}
  /* 
  div.a {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: clip; 
} */
  .cxStorie {
	height: 116px;
	width: 612px;
	border: 1px solid #dbdbdb;
	background: fuchsia;
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	border-radius: 3px;
	white-space: nowrap; 
  overflow: hidden;
  text-overflow: clip; 
  }
  
  .timeline {
	width: 612px;
	margin-bottom: 60px;
	background: turquoise;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
  }
  
  .topPost {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
  }

  .painel {
	  display: flex;
	  justify-content: space-between;
	  margin-top: 5px;
	  margin-bottom: 5px;
  }
    
.icpost {
	width: 25px;
	height: 25px;
	margin-right: 100px;
}

.ilike {
	margin-left: 15px;
}

  .post {
	width: 612px;
	height: 612px;
  }

  .storie {
	  margin-left: 15px;
	  margin-right: px;
  }

  .ipost {
	  height: 32px;
	  width: 32px;
	  margin-left: 17px;
  }

  
  .sidebar {
	margin-top: 23px;
	width: 293px;
	height: 411px;
	background: goldenrod;
	margin-left: 30px;
	/*position: fixed;
	top: 111px;
	right: 208px;*/
  }

  @media (max-width: 935px) {
	.conteiner {
		width: 100%;
	}
	.sidebar {
		display: none;
	}

	.acessorio {
		margin-right: 15px;
	}
	.acessorio (2) {
		display: none;
	}
	.logo {
		margin-left: 15px;
	}
	

  @media (max-width: 614px) {
	  .post {
		  width: 100%;
		  height: calc(width);
	  }
	  .busca {
		  display: none;
	  }

	  .acessorio ion-icon:nth-child(2) {
		  display: none;
	  }
	  .acessorio ion-icon:nth-child(3) {
		display: none;
	}
	.acessorio ion-icon:nth-child(4) {
		display: none;
	}

	.insta {
		display: contents;		
	}

	.logo > div {
		display: none;
	}

	.nomobile {
		display: none;
	}
	
	.mobile {
		width: 100%;
		height: 52px;
		background: green;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		bottom: 0;
		border: 1px solid red;
		z-index: 10;
	}

	.body {
		margin-top: 54px;
	}
	.cxStorie {
		margin-bottom: 0px;
	}

	.timeline {
		width: 100%;
	}
	
  }